@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;300;400;500&display=swap');

.mobile_background {
  background: #f6f6f6;
  width: 482px;
  margin-left: 0;
  margin-top: 0;
}

.home_page_container {
  height: 600px;
  width: 482px;
  background-color: white;
  border-radius: 1px 1px 1px 100px;
}

.toolbar_class {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 375px;
  align-items: center;
}

.toolbar_class .logo_container {
  align-items: center;
  position: relative;
  left: 12px;
  width: 40%;
}

.toolbar_class .logo_container .logo_class {
  position: static;
  height: 20px;
  left: 12px;
  top: 10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.toolbar_class .option_bar {
  position: absolute;
  height: 12px;
  background: #6070ff;
  right: -100px;
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 100%;
}

.span_class {
  display: block;
  position: relative;
  left: 300px;
  top: 5px;
  font-size: 20px;
}

.navlist {
  display: none;
}

.background {
  position: absolute;
  width: 375px;
  height: 480px;
  top: 119px;
  margin: 1px 1px 1px 50px;
}

.show {
  display: none;
}

.menu_item_container {
  position: fixed;
  background: #6070ff;
  width: 482px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.9;
}

.navlist-item-mobile > a {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 60px;
  line-height: 100px;
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.menu_item-mobile {
  z-index: 2;
}

.close_icon {
  width: 70px;
  height: 70px;
  float: right;
  margin: 10px;
}

.navlist-mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
  list-style-type: none;
  margin-top: 100px;
}

.background .intro_class {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  position: absolute;
  width: 90%;
  height: 268px;
  margin-top: 10px;
}

.background .intro_class .identity_text {
  position: static;
  width: 95%;
  height: 30px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: 0.37px;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 6px 1px;
  overflow-wrap: break-word;
}

.background .intro_class .description_text {
  position: static;
  width: 95%;
  height: 70%;
  top: 1px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 6px 1px;
}

.background .intro_class .connect_text {
  position: static;
  width: 95%;
  height: 40px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 6px 1px;
}

.background .intro_class .social_media_icons {
  position: relative;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  left: -46px;
  top: -30px;
}

.icons:hover {
  transform: scale(1.5, 1.5);
  transition: 0.4s;
}

.background .intro_class .social_media_icons .icons {
  margin: 2px 7px;
  left: -25px;
}

.left_ellipse {
  position: relative;
  top: -80px;
  left: 1px;
  transform: scale(-0.4, -0.4);
}

.right_ellipse {
  position: relative;
  top: 50px;
  left: 170px;
  transform: scale(-0.4, -0.4) rotate(180deg);
}

.left_rectangle {
  position: relative;
  top: 200px;
  left: 220px;
  transform: rotate(20deg);
}

.bottom_ellipse {
  position: relative;
  top: 380px;
  transform: scale(-0.4, -0.4);
}

.circle {
  position: relative;
  top: 300px;
  left: 1px;
}

.rectangle {
  position: relative;
  top: -200px;
  transform: scale(0.3, 0.3);
  left: 140px;
}

.works {
  height: 500px;
  margin-top: 200px;
  width: 482px;
}

.works .project {
  background-color: white;
  width: 430px;
  border-radius: 40px;
  height: 630px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-right: 25px;
}

.grid {
  display: grid;
  grid-template-rows: 700px 700px 700px 700px;
  grid-gap: 10px;
}

.project_img {
  position: relative;
  border-radius: 40px;
  transform: scale(0.9, 0.8);
  margin-top: 80px;
}

.project_title {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 1px;
  left: 20px;
  top: -30px;
  width: 300px;
}

.project_details {
  position: relative;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  top: -70px;
}

.project_details .list_items {
  position: relative;
  left: -25px;
  margin: 10px;
}

.list_items_text {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
  color: #344563;
}

.list_items_text_other {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
  color: #7a869a;
}

.project_details .list_items .counter_class {
  position: relative;
  top: 15px;
}

.project_description {
  position: relative;
  top: -120px;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  color: #344563;
  margin-left: 20px;
  letter-spacing: 0.01em;
  font-family: 'Poppins', sans-serif;
  width: 350px;
}

.technology_used {
  position: relative;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  top: -150px;
  left: -20px;
}

.technology {
  position: relative;
  margin-right: 10px;
  border: 1px solid #f1f1f1;
  background-color: #f1f1f1;
  text-align: center;
  border-radius: 8px;
  object-fit: contain;
  padding-left: 20px;
  padding-right: 20px;
}

.technology_text {
  letter-spacing: 00.03em;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  line-height: 16px;
  font-size: 12px;
  font-weight: 500;
  color: #6070ff;
}

.project_button {
  position: relative;
  top: -150px;
  width: 150px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 12px;
  align-items: center;
  margin-left: 20px;
  background-color: white;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  transition-duration: 0.4s;
}

.project_button:hover {
  border: 1px solid #6070ff;
  background-color: #6070ff;
  color: white;
}

.project_button:active {
  border: 1px solid #2230d2;
  background-color: #2230d2;
  color: white;
}

.project_button :disabled {
  border: 1px solid #2230d2;
  background-color: white;
  color: #5e6c84;
}

.aboutme_container {
  position: relative;
  top: 2500px;
  width: 480px;
  left: -5px;
  height: 1200px;
  background-color: white;
  border-radius: 1px 100px 1px 1px;
}

.aboutme_container .aboutme_class {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  position: absolute;
  width: 90%;
  height: 268px;
  margin-top: 90px;
  margin-left: 10px;
}

.aboutme_container .aboutme_class .identity_text {
  position: static;
  width: 95%;
  height: 30px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  display: flex;
  align-items: center;
  letter-spacing: 0.37px;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 6px 1px;
  overflow-wrap: break-word;
}

.aboutme_container .aboutme_class .description_text {
  position: static;
  width: 95%;
  height: 70%;
  top: 1px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 6px 1px;
}

.aboutme_container .aboutme_class .connect_text {
  position: static;
  width: 95%;
  height: 40px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 6px 1px;
}

.aboutme_container .aboutme_class .social_media_icons {
  position: relative;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  left: -46px;
  top: -30px;
}

.aboutme_container .aboutme_class .social_media_icons .icons {
  margin: 2px 7px;
  left: -25px;
}

.resume_button {
  position: relative;
  width: 200px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 12px;
  align-items: center;
  background-color: white;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  transition-duration: 0.4s;
}

.resume_button:hover {
  border: 1px solid #6070ff;
  background-color: #6070ff;
  color: white;
}

.resume_button:active {
  border: 1px solid #2230d2;
  background-color: #2230d2;
  color: white;
}

.resume_button :disabled {
  border: 1px solid #2230d2;
  background-color: white;
  color: #5e6c84;
}

.technology_and_skills {
  position: relative;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.technology_and_skills_item {
  position: relative;
  margin-left: -60px;
  text-align: start;
  width: 410px;
  object-fit: contain;
  padding-left: 20px;
  padding-right: 20px;
}

.technology_and_skills_text {
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.language_list {
  border: 1px solid #f1f1f1;
  background-color: #f1f1f1;
  border-radius: 8px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 350px;
  margin-bottom: 10px;
  margin-left: -30px;
  position: relative;
  top: -500px;
}

.language_image {
  border-radius: 50px;
  margin: 10px;
}

.language_text {
  letter-spacing: 00.03em;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  line-height: 20px;
  font-size: 18px;
  color: #253858;
  top: 8px;
  position: relative;
}

.framework_text {
  position: relative;
  top: -500px;
}

.skills_text {
  position: relative;
  top: -1000px;
}

.hr_position {
  position: relative;
  top: -1010px;
}

.hr2_position {
  position: relative;
  top: -510px;
}

.vector {
  position: relative;
  transform: scale(0.04, 0.04);
  left: 80px;
  top: -280px;
}

.vector2 {
  position: relative;
  transform: scale(0.04, 0.04) rotate(270deg);
  left: 80px;
  top: -787px;
}

.vector3 {
  position: relative;
  transform: scale(0.04, 0.04) rotate(270deg);
  top: -287px;
  left: 80px;
}

.contact_section {
  position: relative;
  top: 2700px;
  width: 480px;
  left: -5px;
  height: 800px;
  background-color: #6070ff;
  border-radius: 100px 1px 1px 1px;
}

.contact {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
}

.contactme_header {
  text-align: center;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.contact_message {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
  margin: 0 40px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 65px;
  text-align: center;
}

.name-input {
  width: 330px;
  height: 24px;
  padding: 10px;
  border-radius: 15px;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  margin: 20px 0 0 0;
}

.name-input::placeholder {
  color: #172b4d;
}

.email-input {
  width: 330px;
  height: 24px;
  padding: 10px;
  border-radius: 15px;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  margin: 20px 0 0 0;
}

.email-input::placeholder {
  color: #172b4d;
}

.message-input {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  height: 170px;
  width: 330px;
  padding: 10px;
  margin: 20px 0 0 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

.message-input::placeholder {
  color: #b3bac5;
}

.submit_button {
  width: 140px;
  height: 48px;
  left: 24px;
  margin: 20px 0 0 0;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: white;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  transition-duration: 0.4s;
  padding: 5px 5px;
}

.submit_button:hover {
  border: 1px solid #cfd8dc;
  background-color: #6070ff;
  color: white;
}

.submit_button:active {
  border: 1px solid #2230d2;
  background-color: #2230d2;
  color: white;
}

@media (min-width: 782px) {
  .mobile_background {
    background: #f6f6f6;
    width: 100%;
  }

  .home_page_container {
    height: 650px;
    width: 100%;
    background-color: white;
    border-radius: 1px 1px 1px 100px;
  }

  .toolbar_class {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    margin-top: 10px;
  }

  .toolbar_class .logo_container {
    align-items: center;
    position: relative;
    left: 120px;
    width: 40%;
    top: -10px;
  }

  .toolbar_class .logo_container .logo_class {
    position: static;
    height: 20px;
    left: 12px;
    top: 10px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #6070ff;
  }

  .toolbar_class .option_bar {
    position: absolute;
    height: 12px;
    background: #6070ff;
    right: -100px;
  }

  .span_class {
    display: none;
  }

  .navlist {
    position: relative;
    list-style-type: none;
    left: 400px;
    display: flex;
    flex-direction: row;
    top: -5px;
  }

  .navlist-item {
    margin: 0 30px;
    text-decoration: none;
  }

  .navlist-item > a {
    text-decoration: none;
    color: #344563;
    font-size: 15px;
    line-height: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
  }

  .background {
    position: absolute;
    width: 70%;
    height: 500px;
    top: 119px;
    margin: 1px 100px 1px 100px;
    left: 100px;
  }

  .background .intro_class {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    position: absolute;
    width: 90%;
    height: 268px;
    margin-top: 10px;
  }

  .background .intro_class .identity_text {
    position: static;
    width: 70%;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 40px;
    display: flex;
    align-items: center;
    letter-spacing: 0.37px;
    color: #091e42;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 6px 1px;
    overflow-wrap: break-word;
  }

  .background .intro_class .description_text {
    position: relative;
    width: 90%;
    height: 100px;
    top: 1px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
    flex: content;
    order: 0;
    flex-grow: 0;
    margin: 6px 1px;
    margin-bottom: 10px;
  }

  .background .intro_class .connect_text {
    position: relative;
    width: 95%;
    height: 70px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    flex: auto;
    order: 0;
    flex-grow: 0;
    margin: 30px 1px;
  }

  .background .intro_class .social_media_icons {
    position: relative;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    left: -46px;
    top: -30px;
    flex: auto;
  }

  .background .intro_class .social_media_icons .icons {
    margin: 2px 7px;
    left: -25px;
  }

  .left_ellipse {
    position: relative;
    top: -50px;
    left: 1px;
    transform: scale(-0.4, -0.4);
  }

  .right_ellipse {
    position: relative;
    top: 200px;
    left: 940px;
    transform: scale(0.8, 0.8) rotate(5deg);
  }

  .bottom_ellipse {
    position: relative;
    top: 400px;
    transform: scale(-0.4, -0.4);
    left: 100px;
  }

  .circle {
    position: relative;
    top: 350px;
    left: 400px;
  }

  .rectangle {
    position: relative;
    top: -50px;
    transform: scale(0.4, 0.4);
  }

  .works {
    margin-top: 200px;
    width: 90%;
  }

  .works .project {
    background-color: white;
    width: 100%;
    border-radius: 50px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 70%;
  }

  .grid {
    display: grid;
    grid-template-columns: 90%;
    grid-gap: -100px;
    margin-left: 7%;
  }

  .project_img {
    position: relative;
    border-radius: 40px;
    transform: scale(1, 1);
    max-width: 55%;
    margin-top: 80px;
    left: 5px;
    top: 160px;
    padding: 24px;
  }

  .project_title {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 12px 1px;
    left: 59%;
    top: -55%;
    width: 350px;
  }

  .project_details {
    position: relative;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    left: 57%;
    top: -65%;
    width: 350px;
  }

  .project_details .list_items {
    position: relative;
    left: -25px;
    margin: 10px;
  }

  .list_items_text {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
  }

  .list_items_text_other {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    color: #7a869a;
  }

  .project_details .list_items .counter_class {
    position: relative;
    top: 15px;
  }

  .project_description {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-style: normal;
    color: #344563;
    margin-left: 20px;
    letter-spacing: 0.01em;
    font-family: 'Poppins', sans-serif;
    width: 350px;
    left: 57.5%;
    top: -75%;
  }

  .technology_used {
    position: relative;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    left: 55.5%;
    top: -75%;
    width: 300px;
  }

  .technology {
    position: relative;
    margin-right: 10px;
    border: 1px solid #f1f1f1;
    background-color: #f1f1f1;
    text-align: center;
    border-radius: 8px;
    object-fit: contain;
    padding-left: 20px;
    padding-right: 20px;
  }

  .technology_text {
    letter-spacing: 00.03em;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    line-height: 16px;
    font-size: 12px;
    font-weight: 500;
    color: #6070ff;
  }

  .project_button {
    position: relative;
    left: 57.5%;
    top: -74%;
    width: 150px;
    border: 1px solid #6070ff;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 12px;
    align-items: center;
    margin-left: 20px;
    background-color: white;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    transition-duration: 0.4s;
  }

  .project_button:hover {
    border: 1px solid #6070ff;
    background-color: #6070ff;
    color: white;
  }

  .project_button:active {
    border: 1px solid #2230d2;
    background-color: #2230d2;
    color: white;
  }

  .project_button :disabled {
    border: 1px solid #2230d2;
    background-color: white;
    color: #5e6c84;
  }

  .aboutme_container {
    position: relative;
    top: 2300px;
    width: 100%;
    height: 900px;
    background-color: white;
    border-radius: 1px 100px 1px 1px;
    margin-right: 0;
  }

  .aboutme_container .aboutme_class {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    position: absolute;
    width: 90%;
    height: 268px;
    margin-top: 90px;
    margin-left: 10px;
  }

  .aboutme_container .aboutme_class .identity_text {
    position: static;
    width: 45%;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    display: flex;
    align-items: center;
    letter-spacing: 0.37px;
    color: #091e42;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 6px 1px;
    overflow-wrap: break-word;
  }

  .aboutme_container .aboutme_class .description_text {
    position: static;
    width: 50%;
    height: 45%;
    top: 1px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #344563;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 6px 1px;
  }

  .aboutme_container .aboutme_class .connect_text {
    position: static;
    width: 95%;
    height: 30px;
    top: -40px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 15px;
  }

  .aboutme_container .aboutme_class .social_media_icons {
    position: relative;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    left: -46px;
    top: -30px;
  }

  .aboutme_container .aboutme_class .social_media_icons .icons {
    margin: 2px 7px;
    left: -25px;
  }

  .resume_button {
    position: relative;
    width: 200px;
    border: 1px solid #6070ff;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 12px;
    align-items: center;
    background-color: white;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    transition-duration: 0.4s;
  }

  .resume_button:hover {
    border: 1px solid #6070ff;
    background-color: #6070ff;
    color: white;
  }

  .resume_button:active {
    border: 1px solid #2230d2;
    background-color: #2230d2;
    color: white;
  }

  .resume_button :disabled {
    border: 1px solid #2230d2;
    background-color: white;
    color: #5e6c84;
  }

  .technology_and_skills {
    position: relative;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    left: 58%;
    top: -400px;
    height: 200px;
  }

  .technology_and_skills_item {
    position: relative;
    margin-left: -60px;
    text-align: start;
    width: 410px;
    object-fit: contain;
    padding-left: 20px;
    padding-right: 20px;
  }

  .technology_and_skills_text {
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.03em;
  }

  .languages {
    display: flex;
    flex-direction: row;
  }

  .language_list {
    border: 1px solid #f1f1f1;
    background-color: #f1f1f1;
    border-radius: 8px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 10px;
    position: relative;
    top: -500px;
    left: -40px;
    height: 100px;
  }

  .language_image {
    position: relative;
    border-radius: 50px;
    margin: 10px;
    transform: scale(0.6, 0.6);
    left: -20px;
    top: -20px;
  }

  .language_text {
    letter-spacing: 00.03em;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    line-height: 20px;
    font-size: 15px;
    color: #253858;
    position: relative;
    top: -50px;
    left: 10px;
  }

  .framework_text {
    position: relative;
    top: -500px;
  }

  .skills_text {
    position: relative;
    top: -1000px;
  }

  .hr_position {
    position: relative;
    top: -1010px;
    width: 500px;
  }

  .hr2_position {
    position: relative;
    top: -510px;
    width: 500px;
  }

  .vector {
    position: relative;
    transform: scale(0.03, 0.03);
    left: 200px;
    top: -280px;
  }

  .vector2 {
    position: relative;
    transform: scale(0.03, 0.03) rotate(270deg);
    left: 200px;
    top: -787px;
  }

  .vector3 {
    position: relative;
    transform: scale(0.03, 0.03) rotate(270deg);
    top: -287px;
    left: 200px;
  }

  .contact_section {
    position: relative;
    top: 2100px;
    width: 100%;
    left: -5px;
    height: 800px;
    background-color: #6070ff;
    border-radius: 100px 1px 1px 1px;
  }

  .contact {
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contactme_header {
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .contact_message {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #ebebff;
    text-align: center;
    margin: 0 40px;
    width: 40%;
  }

  form {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 65px;
    text-align: center;
    align-items: center;
  }

  .name-input {
    width: 330px;
    height: 24px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    margin: 20px 0 0 0;
  }

  .name-input::placeholder {
    color: #172b4d;
  }

  .email-input {
    width: 330px;
    height: 24px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    margin: 20px 0 0 0;
  }

  .email-input::placeholder {
    color: #172b4d;
  }

  .message-input {
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    height: 170px;
    width: 330px;
    padding: 10px;
    margin: 20px 0 0 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
  }

  .message-input::placeholder {
    color: #b3bac5;
  }

  .submit_button {
    width: 140px;
    height: 48px;
    left: 24px;
    margin: 20px 0 0 0;
    border: 1px solid #6070ff;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: white;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    transition-duration: 0.4s;
    padding: 5px 5px;
  }

  .submit_button:hover {
    border: 1px solid #cfd8dc;
    background-color: #6070ff;
    color: white;
  }

  .submit_button:active {
    border: 1px solid #2230d2;
    background-color: #2230d2;
    color: white;
  }
}
