@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;300;400;500&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  list-style: none;
}

body {
  background: #f6f6f6;
  margin: 0;
}

kbd {
  color: rgb(93, 3, 3) !important;
}

.hide {
  display: none;
}

.nav-bar {
  width: 100vw;
  height: 5vh;
  background-color: #fff;
  margin: 0;
  padding-top: 5px;
}

.mobile_background {
  width: 100vw;
}

.blur {
  backdrop-filter: blur(4px);
  filter: blur(5px);
}

.logo_container {
  align-items: center;
  position: relative;
  width: 30vw;
  margin-left: 5vw;
  height: 3vh;
}

.logo_class {
  height: 20px;
  top: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.span_class {
  float: right;
  margin-right: 5vw;
  margin-top: -2.5vh;
}

.navlist {
  display: none;
}

.background {
  position: absolute;
  width: 100vw;
  height: 70vh;
  background-color: #fff;
  padding-top: 5vh;
  border-radius: 0 0 0 100px;
}

.show {
  display: none;
}

.menu_item_container {
  position: fixed;
  background: #6070ff;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.9;
  overflow: hidden;
  filter: blur(0) !important;
}

.navlist-item-mobile > a {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 60px;
  line-height: 100px;
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  filter: none !important;
}

.menu_item-mobile {
  z-index: 2;
}

.close_icon {
  width: 10vw;
  height: 70px;
  float: right;
  margin: 10px;
  left: -50px;
}

.navlist-mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
  list-style-type: none;
  margin-top: 100px;
}

.background .intro_class {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  position: relative;
  width: 80vw;
  height: 268px;
  margin-top: 10px;
  margin-left: 20px;
}

.background .intro_class .identity_text {
  width: 80vw;
  height: 30px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: 0.37px;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 6px 1px;
  overflow-wrap: break-word;
}

.background .intro_class .description_text {
  width: 99%;
  height: 25vh;
  top: 1px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 6px 1px;
}

.background .intro_class .connect_text {
  height: 5vh;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 5vh;
}

.background .intro_class .social_media_icons {
  position: relative;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  left: -46px;
  top: -30px;
}

.icons:hover {
  transform: scale(1.5, 1.5);
  transition: 0.4s;
}

.background .intro_class .social_media_icons .icons {
  margin: 2px 7px;
}

.left_ellipse {
  position: absolute;
  transform: scale(-0.4, -0.4) rotate(-70deg);
  top: 9vh;
  left: -2vw;
}

.right_ellipse {
  position: absolute;
  left: 60vw;
  transform: scale(-0.4, -0.4) rotate(180deg);
}

.bottom_ellipse {
  position: absolute;
  top: 68vh;
  left: 20vw;
  transform: scale(-0.4, -0.4);
}

.circle {
  position: absolute;
  top: 60vh;
  left: 70vw;
}

.rectangle {
  position: absolute;
  top: 3vh;
  transform: scale(0.3, 0.3);
  left: 30vw;
}

.works {
  position: relative;
  margin-top: 80vh;
  width: 100vw;
}

.works .project {
  background-color: white;
  width: 90vw;
  border-radius: 40px;
  height: 630px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  margin-right: 5vw;
}

.grid {
  display: grid;
  grid-template-rows: 700px 700px 700px 700px;
  grid-gap: 10px;
}

.project_img {
  position: relative;
  border-radius: 40px;
  transform: scale(0.9, 0.7);
  margin-top: 80px;
}

.project_title {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 1px;
  left: 20px;
  top: -30px;
  width: 60vw;
}

.project_details {
  position: relative;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  top: -70px;
}

.project_details .list_items {
  position: relative;
  left: -7vw;
  margin: 10px;
}

.list_items_text {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
  color: #344563;
}

.list_items_text_other {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
  color: #7a869a;
}

.project_details .list_items .counter_class {
  position: relative;
  top: 15px;
}

.project_description {
  position: relative;
  top: -120px;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  color: #344563;
  margin-left: 20px;
  letter-spacing: 0.01em;
  font-family: 'Poppins', sans-serif;
  width: 80vw;
}

.technology_used {
  position: relative;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  top: -150px;
  left: -20px;
}

.technology {
  position: relative;
  margin-right: 10px;
  border: 1px solid #f1f1f1;
  background-color: #f1f1f1;
  text-align: center;
  border-radius: 8px;
  object-fit: contain;
  padding-left: 20px;
  padding-right: 20px;
}

.technology_text {
  letter-spacing: 00.03em;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  line-height: 16px;
  font-size: 12px;
  font-weight: 500;
  color: #6070ff;
}

.project_button {
  position: relative;
  top: -150px;
  width: 150px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 12px;
  align-items: center;
  margin-left: 20px;
  background-color: white;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  transition-duration: 0.4s;
  text-decoration: none;
}

.project_button:hover {
  border: 1px solid #6070ff;
  background-color: #6070ff;
  color: white;
}

.project_button:active {
  border: 1px solid #2230d2;
  background-color: #2230d2;
  color: white;
}

.project_button :disabled {
  border: 1px solid #2230d2;
  background-color: white;
  color: #5e6c84;
}

.popup-window-container {
  background-color: rgba(0, 0, 0, 0.199);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 99;
  backdrop-filter: blur(4px);
}

.popup-window {
  background-color: white;
  height: 90%;
  margin: 16px;
  margin-top: 40px;
  border-radius: 8px;
}

.project-heading {
  height: 10%;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.popup_title {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 20px 1px 0 0;
  left: 20px;
  width: 200px;
}

.popup_close_icon {
  position: relative;
  width: 10px;
  height: 70px;
  top: 58%;
  left: 30vw;
}

.project-popup-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 0;
  position: relative;
  left: -10px;
}

.project-popup-details .list_items {
  position: relative;
  left: -7vw;
  margin: 3px;
}

.project-popup-details .list_items .list_items_text {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
  color: #344563;
}

.project-popup-details .list_items .list_items_text_other {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
  color: #7a869a;
}

.project-popup-details .list_items .counter_class {
  position: relative;
  top: 15px;
}

.popup_image {
  margin-left: 7%;
  margin-right: 8%;
  position: relative;
  top: -30px;
}

.project-popup-paragraph {
  position: relative;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  color: #344563;
  margin-left: 25px;
  letter-spacing: 0.01em;
  font-family: 'Poppins', sans-serif;
  width: 80vw;
  top: -30px;
}

.popup-technology {
  position: relative;
  top: -30px;
  margin-left: 6px;
}

.popup-buttons {
  position: relative;
  top: 20%;
  left: 6px;
}

.popup-button-img {
  position: relative;
  top: 3px;
  left: 3px;
}

.aboutme_container {
  position: relative;
  top: 20vh;
  width: 100vw;
  height: 160vh;
  background-color: white;
  border-radius: 1px 100px 1px 1px;
}

.aboutme_container .aboutme_class {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  position: absolute;
  width: 50vw;
  height: 268px;
  margin-top: 90px;
  margin-left: 10px;
}

.aboutme_container .aboutme_class .identity_text {
  position: static;
  width: 90vw;
  height: 30px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  display: flex;
  align-items: center;
  letter-spacing: 0.37px;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 6px 1px;
  overflow-wrap: break-word;
}

.aboutme_container .aboutme_class .description_text {
  position: static;
  width: 85vw;
  height: 70%;
  top: 1px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 6px 1px;
}

.aboutme_container .aboutme_class .connect_text {
  position: static;
  height: 40px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 6px 1px;
}

.aboutme_container .aboutme_class .social_media_icons {
  position: relative;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  left: -46px;
  top: -30px;
}

.aboutme_container .aboutme_class .social_media_icons .icons {
  margin: 2px 7px;
  left: -25px;
}

.resume_button {
  position: relative;
  width: 200px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 12px;
  align-items: center;
  background-color: white;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  transition-duration: 0.4s;
}

.resume_button:hover {
  border: 1px solid #6070ff;
  background-color: #6070ff;
  color: white;
}

.resume_button:active {
  border: 1px solid #2230d2;
  background-color: #2230d2;
  color: white;
}

.resume_button :disabled {
  border: 1px solid #2230d2;
  background-color: white;
  color: #5e6c84;
}

.language_text {
  letter-spacing: 00.03em;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  line-height: 20px;
  font-size: 18px;
  color: #253858;
  top: 8px;
  position: relative;
}

.language_div {
  display: flex;
  flex-direction: row;
  background-color: #fff;
}

.languages {
  background-color: #fff;
}

.technology_div {
  background-color: #fff;
  border: none;
}

.vector {
  position: relative;
  height: 15px;
  width: 15px;
  left: 43vw;
  top: 3.5vh;
}

.vector2 {
  position: relative;
  height: 15px;
  width: 15px;
  left: 70vw;
  top: -4vh;
  transform: rotate(-90deg);
}

.vector3 {
  position: relative;
  height: 15px;
  width: 15px;
  left: 70vw;
  top: -4.3vh;
  transform: rotate(-90deg);
}

.language_list {
  position: relative;
  background-color: #f1f1f1;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  width: 60vw;
  margin-bottom: 2vh;
  margin-left: -30px;
}

.language_image {
  border-radius: 50px;
  margin: 10px;
}

.contact_section {
  position: relative;
  top: 50vh;
  width: 100vw;
  height: 800px;
  background-color: #6070ff;
  border-radius: 100px 1px 1px 1px;
}

.contact {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
}

.contactme_header {
  text-align: center;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.contact_message {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
  margin: 0 40px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 65px;
  text-align: center;
}

.name-input {
  width: 60vw;
  height: 24px;
  padding: 10px;
  border-radius: 15px;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  margin: 20px 0 0 0;
}

.name-input::placeholder {
  color: #172b4d;
}

.email-input {
  width: 60vw;
  height: 24px;
  padding: 10px;
  border-radius: 15px;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  margin: 20px 0 0 0;
}

.email-input::placeholder {
  color: #172b4d;
}

.message-input {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  height: 170px;
  width: 60vw;
  padding: 10px;
  margin: 20px 0 0 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

.message-input::placeholder {
  color: #b3bac5;
}

.submit_button {
  width: 140px;
  height: 48px;
  left: 24px;
  margin: 20px 0 0 0;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: white;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  transition-duration: 0.4s;
  padding: 5px 5px;
}

.submit_button:hover {
  border: 1px solid #cfd8dc;
  background-color: #6070ff;
  color: white;
}

.submit_button:active {
  border: 1px solid #2230d2;
  background-color: #2230d2;
  color: white;
}

@media (min-width: 782px) {
  .hide-desktop {
    display: none !important;
  }

  .blur {
    filter: none;
  }

  .popup-window {
    background-color: white;
    height: 98%;
    margin: 5px;
    border-radius: 8px;
    width: 55%;
    left: 20%;
    position: relative;
  }

  .project-heading {
    height: 10%;
    display: flex;
    flex-direction: row;
  }

  .popup_title {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
    margin: 20px 1px 0 0;
    left: 20px;
    width: 50%;
  }

  .popup_close_icon {
    position: relative;
    width: 10vw;
    height: 70px;
    top: 47%;
    left: 40%;
  }

  .project-popup-details {
    display: flex;
    flex-direction: row;
    left: -17%;
    top: -20px;
    position: relative;
  }

  .project-popup-details .list_items {
    position: relative;
    left: -7vw;
    margin: 5px 5px 0 5px;
  }

  .list_items_text {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
  }

  .list_items_text_other {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    color: #7a869a;
  }

  .project-popup-details .list_items .list_items_text {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    color: #344563;
  }

  .project-popup-details .list_items .list_items_text_other {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    color: #7a869a;
  }

  .project-popup-details .list_items .counter_class {
    position: relative;
    top: 15px;
  }

  .popup_image {
    margin-left: 3%;
    margin-right: 3%;
    height: 60%;
    width: 94%;
    top: -5%;
    position: relative;
  }

  .project-popup-paragraph {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    font-style: normal;
    color: #344563;
    margin-left: 35px;
    letter-spacing: 0.01em;
    font-family: 'Poppins', sans-serif;
    width: 50%;
    top: -5%;
  }

  .popup-window .popup-technology {
    position: relative;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    left: 50%;
    top: -14%;
    width: 300px;
  }

  .popup-buttons {
    position: relative;
    top: -13%;
    left: -3.8%;
  }

  .project_button {
    position: relative;
    left: 57.5%;
    top: -74%;
    width: 150px;
    border: 1px solid #6070ff;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 12px;
    align-items: center;
    margin-left: 20px;
    background-color: white;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    transition-duration: 0.4s;
    text-decoration: none;
  }

  .popup-buttons .project_button {
    height: 3%;
    width: 18%;
    padding-bottom: 18px;
    position: relative;
    border: 1px solid #6070ff;
    box-sizing: border-box;
    border-radius: 8px;
    align-items: center;
    background-color: white;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #396df2;
    transition-duration: 0.4s;
    text-decoration: none;
  }

  .popup-button-img {
    position: relative;
    top: 3px;
    left: 3px;
  }

  .header_class {
    background-color: white;
    width: 100%;
  }

  .home_page_container {
    height: 650px;
    width: 100%;
    background-color: white;
    border-radius: 1px 1px 1px 100px;
  }

  .nav-bar {
    position: relative;
    height: 10vh;
    width: 100%;
    background-color: #fff;
    margin: 0;
    padding-top: 5px;
  }

  .logo_container {
    align-items: center;
    position: relative;
    width: 10vw;
    margin-left: 5vw;
    margin-right: 5vw;
    height: 3vh;
  }

  .logo_class {
    height: 20px;
    top: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #6070ff;
  }

  .toolbar_class .logo_container .logo_class {
    position: static;
    height: 20px;
    left: 12px;
    top: 10px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #6070ff;
  }

  .toolbar_class .option_bar {
    position: absolute;
    height: 12px;
    background: #6070ff;
    right: -100px;
  }

  .span_class {
    display: none;
  }

  .navlist {
    position: relative;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    top: -5vh;
    float: right;
    left: -10vw;
  }

  .navlist-item {
    margin: 0 30px;
    text-decoration: none;
  }

  .navlist-item > a {
    text-decoration: none;
    color: #344563;
    font-size: 15px;
    line-height: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
  }

  .background {
    position: relative;
    width: 100%;
    height: 83vh;
  }

  .background .intro_class {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 268px;
    margin-left: 10vw;
    position: absolute;
  }

  .background .intro_class .identity_text {
    position: static;
    width: 70%;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 40px;
    display: flex;
    align-items: center;
    letter-spacing: 0.37px;
    color: #091e42;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 6px 1px;
    overflow-wrap: break-word;
  }

  .background .intro_class .description_text {
    position: relative;
    width: 70%;
    height: 100px;
    top: 1px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
    flex: content;
    order: 0;
    flex-grow: 0;
    margin: 6px 1px;
    margin-bottom: 10px;
  }

  .background .intro_class .connect_text {
    position: relative;
    width: 40%;
    height: 70px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    flex: auto;
    order: 0;
    flex-grow: 0;
    margin: 30px 1px;
  }

  .background .intro_class .social_media_icons {
    position: relative;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    left: -46px;
    top: -30px;
    flex: auto;
  }

  .background .intro_class .social_media_icons .icons {
    margin: 2px 7px;
    left: -25px;
  }

  .left_ellipse {
    position: relative;
    top: -100vh;
    left: 1px;
    transform: scale(-0.4, -0.4);
  }

  .right_ellipse {
    position: relative;
    top: -70vh;
    left: 60vw;
    transform: scale(0.8, 0.8) rotate(5deg);
  }

  .bottom_ellipse {
    position: relative;
    top: -40vh;
    transform: scale(-0.4, -0.4);
    left: 10vw;
  }

  .circle {
    position: relative;
    top: -50vh;
    left: 30vw;
  }

  .rectangle {
    position: relative;
    top: -100vh;
    left: 10vw;
    transform: scale(0.4, 0.4);
  }

  .works {
    position: relative;
    margin-top: 10vh;
    width: 90vw;
    height: 400vh;
  }

  .works .project {
    background-color: white;
    width: 100%;
    height: 70%;
    border-radius: 50px;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .grid {
    display: grid;
    grid-template-columns: 90%;
    grid-gap: -100px;
    margin-left: 7%;
  }

  .project_img {
    position: relative;
    border-radius: 40px;
    transform: scale(1, 1);
    max-width: 40vw;
    margin-top: 80px;
    left: 5px;
    top: 160px;
    padding: 24px;
  }

  .project_title {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 12px 1px;
    left: 59%;
    top: -55%;
    width: 350px;
  }

  .project_details {
    position: relative;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    left: 57%;
    top: -65%;
    width: 350px;
  }

  .project_details .list_items {
    position: relative;
    left: -25px;
    margin: 10px;
  }

  .project_details .list_items .counter_class {
    position: relative;
    top: 15px;
  }

  .project_description {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-style: normal;
    color: #344563;
    margin-left: 20px;
    letter-spacing: 0.01em;
    font-family: 'Poppins', sans-serif;
    width: 350px;
    left: 57.5%;
    top: -75%;
  }

  .technology_used {
    position: relative;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    left: 55.5%;
    top: -75%;
    width: 300px;
  }

  .technology {
    position: relative;
    margin-right: 10px;
    border: 1px solid #f1f1f1;
    background-color: #f1f1f1;
    text-align: center;
    border-radius: 8px;
    object-fit: contain;
    padding-left: 20px;
    padding-right: 20px;
  }

  .technology_text {
    letter-spacing: 00.03em;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    line-height: 16px;
    font-size: 12px;
    font-weight: 500;
    color: #6070ff;
  }

  .project_button:hover {
    border: 1px solid #6070ff;
    background-color: #6070ff;
    color: white;
    text-decoration: none;
  }

  .project_button:active {
    border: 1px solid #2230d2;
    background-color: #2230d2;
    color: white;
    text-decoration: none;
  }

  .project_button :disabled {
    border: 1px solid #2230d2;
    background-color: white;
    color: #5e6c84;
  }

  .aboutme_container {
    position: relative;
    top: 20vh;
    width: 100%;
    height: 100vh;
    background-color: white;
    border-radius: 1px 100px 1px 1px;
    margin-right: 0;
  }

  .aboutme_container .aboutme_class {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    position: absolute;
    width: 90%;
    height: 268px;
    margin-top: 90px;
    margin-left: 10px;
  }

  .aboutme_container .aboutme_class .identity_text {
    position: static;
    width: 45%;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    display: flex;
    align-items: center;
    letter-spacing: 0.37px;
    color: #091e42;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 6px 1px;
    overflow-wrap: break-word;
  }

  .aboutme_container .aboutme_class .description_text {
    position: static;
    width: 50%;
    height: 45%;
    top: 1px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #344563;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 6px 1px;
  }

  .aboutme_container .aboutme_class .connect_text {
    position: static;
    width: 95%;
    height: 30px;
    top: -40px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 15px;
  }

  .aboutme_container .aboutme_class .social_media_icons {
    position: relative;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    left: -46px;
    top: -30px;
  }

  .aboutme_container .aboutme_class .social_media_icons .icons {
    margin: 2px 7px;
    left: -25px;
  }

  .resume_button {
    position: relative;
    width: 200px;
    border: 1px solid #6070ff;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 12px;
    align-items: center;
    background-color: white;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    transition-duration: 0.4s;
  }

  .resume_button:hover {
    border: 1px solid #6070ff;
    background-color: #6070ff;
    color: white;
  }

  .resume_button:active {
    border: 1px solid #2230d2;
    background-color: #2230d2;
    color: white;
  }

  .resume_button :disabled {
    border: 1px solid #2230d2;
    background-color: white;
    color: #5e6c84;
  }

  .language_div {
    position: relative;
    left: 50vw;
    top: -60vh;
  }

  .language_text {
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.03em;
  }

  .technology_div {
    position: relative;
    width: 40vw;
    height: 40vh;
    left: 45vw;
    top: -60vh;
    background-color: white;
    border: none;
  }

  .languages {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 20vh;
    margin: 20px;
    left: -7vw;
    width: 50vw;
  }

  .language_list {
    position: relative;
    background-color: #f1f1f1;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 50vw;
    padding: 10px;
    margin-bottom: 2vh;
    margin-left: 30px;
  }

  .language_list > img {
    height: 70px;
    width: 70px;
  }

  .language_list > p {
    top: -15px;
    margin-left: 10px;
  }

  .framework_div {
    position: relative;
    left: 50vw;
    top: -60vh;
  }

  .framework_div > img {
    position: relative;
    left: 30vw;
    top: -5vh;
  }

  .skills_div {
    position: relative;
    left: 50vw;
    top: -60vh;
  }

  .skills_div > img {
    position: relative;
    left: 30vw;
    top: -5vh;
  }

  .vector {
    left: 20vw;
    top: 4.5vh;
  }

  .contact_section {
    position: relative;
    width: 100%;
    height: 120vh;
    background-color: #6070ff;
    border-radius: 100px 1px 1px 1px;
    z-index: 1;
    top: 10vh;
  }

  .contact {
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contactme_header {
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .contact_message {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #ebebff;
    text-align: center;
    margin: 0 40px;
    width: 40%;
  }

  form {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 65px;
    text-align: center;
    align-items: center;
  }

  .name-input {
    width: 330px;
    height: 24px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    margin: 20px 0 0 0;
  }

  .name-input::placeholder {
    color: #172b4d;
  }

  .email-input {
    width: 330px;
    height: 24px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    margin: 20px 0 0 0;
  }

  .email-input::placeholder {
    color: #172b4d;
  }

  .message-input {
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    height: 170px;
    width: 330px;
    padding: 10px;
    margin: 20px 0 0 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
  }

  .message-input::placeholder {
    color: #b3bac5;
  }

  .submit_button {
    width: 140px;
    height: 48px;
    left: 24px;
    margin: 20px 0 0 0;
    border: 1px solid #6070ff;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: white;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    transition-duration: 0.4s;
    padding: 5px 5px;
  }

  .submit_button:hover {
    border: 1px solid #cfd8dc;
    background-color: #6070ff;
    color: white;
  }

  .submit_button:active {
    border: 1px solid #2230d2;
    background-color: #2230d2;
    color: white;
  }
}
